.Textarea {
    width: 80%;
    height: 20rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    background: rgb(230, 230, 230);
    resize: none;
    margin: 1rem auto;
    padding: 10px 20px;
    box-sizing: border-box;
}