<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home - board</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:include="header.html"></th:block>
<div class="content">
  <div class="board-form">
    <h2 class="login-header">게시글 목록</h2>
    <div class="data-area">
      <!-- 게시글 목록 출력 -->
      <div class="title-row">
        <div class="p-10">번호</div>
        <div class="p-30">제목</div>
        <div class="p-15">작성자</div>
        <div class="t-date p-45">작성일</div>
      </div>
      <div class="data-row">
        <th:block th:if="${#lists.isEmpty(bList)}">
          <div class="non-content">글이 없습니다.</div>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(bList)}">
          <th:block th:each="bitem:${bList}">
            <div class="p-10" th:text="${bitem.bnum}"></div>
            <div class="p-30">
              <a th:href="@{detail(bnum=${bitem.bnum})}" th:text="${bitem.btitle}"></a>
            </div>
            <div class="p-15" th:text="${bitem.bwriter}"></div>
            <div class="t-date p-45" th:text="${#dates.format(bitem.rdate, 'yyyy-MM-dd HH:mm:ss')}"></div>
          </th:block>
        </th:block>
      </div>
    </div>
    <div class="btn-area">
      <div class="paging" th:utext="${paging}"></div>
      <button class="wr-btn" onclick="location.href='writeFrm'">
        글쓰기
      </button>
    </div>
  </div>
</div>
<th:block th:include="footer.html"></th:block>
</body>
<script>
  let m = [[${msg}]];
  if(m != null){
    alert(m);
  }
</script>
</html>