<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Board - write</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        $(function () {
            let m = [[${msg}]];
            if(m != null){
                alert(m);
            }

            //파일 업로드 시 선택한 파일명 출력
            $("#file").on("change", function () {
                //파일 입력창(input type=file)에서 파일 목록 가져오기
                let files = $("#file")[0].files;
                console.log(files);

                let fileName = "";

                if(files.length > 1){//하나 이상의 파일을 선택했을 경우
                    fileName = files[0].name + " 외 "
                        + (files.length - 1) + "개";
                }
                else if(files.length == 1) {
                    fileName = files[0].name;
                }
                else {//파일 선택 창에서 '취소' 버튼을 클릭
                    fileName = "파일선택";
                }

                $(".upload-name").val(fileName);
            });
        });
    </script>
</head>
<body>
<th:block th:include="header.html"></th:block>

<div class="content">
    <form th:action="@{writeProc}" method="post" class="write-form"
          enctype="multipart/form-data">
        <h2 class="login-header">글쓰기</h2>
        <input type="text" class="write-input" name="btitle"
               autofocus placeholder="제목" required>
        <input type="text" class="write-input" name="bwriter"
               placeholder="작성자" required>
        <input type="password" class="write-input" name="bpwd"
               placeholder="비밀번호" required>
        <textarea rows="15" name="bcontent"
                  placeholder="글내용을 작성하세요."
                  class="write-input ta"></textarea>
        <div class="filebox">
            <!-- 파일 입력 처리 영역 -->
            <label for="file">업로드</label>
            <input type="file" name="files" id="file" multiple>
            <input type="text" class="upload-name" value="파일선택" readonly>
        </div>
        <div class="btn-area">
            <input type="submit" class="btn-write" value="W">
            <input type="reset" class="btn-write" value="R">
            <input type="button" class="btn-write" value="B" id="backbtn">
        </div>
    </form>
</div>

<th:block th:include="footer.html"></th:block>
</body>
</html>